.header__lang-link {
    font-weight: normal;
    font-size: 24px;
    line-height: 1.16;
    color: #FFFFFF;
    text-decoration: unset;
}

.header__lang-link:nth-of-type(1) {
    margin-right: 18px;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 540px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 1.11;
    }
}