.photo-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    grid-auto-rows: 1fr;
    margin: 0 48px;
    padding-bottom: 92px;
}