.places {
    margin: 0 148px;
    padding-bottom: 92px;
}

@media screen and (max-width: 1023px) {
    .places {
        margin: 0 48px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        margin: 0 24px;
    }
}

@media screen and (max-width: 540px) {
    .places {
        margin: 0;
    }
}