.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    width: 100%;
    max-width: 720px;
    margin: 0 auto 32px;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .lead__title {
        font-size: 40px;
        line-height: 1.1;
        max-width: 550px;
        margin: 0 auto 32px;
    }
}

@media screen and (max-width: 600px) {
    .lead__title {
        max-width: 450px;
        margin: 0 auto 32px;
    }
}

@media screen and (max-width: 540px) {
    .lead__title {
        margin: 0 auto 16px;
        max-width: 288px;
    }
}

@media screen and (max-width: 350px) {
    .lead__title {
        margin: 0 16px 16px;
    }
}
