.cover {
    position: relative;
    width: calc(100% - 48px*2);
    height: 100%;
    min-height: 740px;
    margin: 0 auto;
    z-index: 0;
}

.cover:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: 1;
    transition: opacity 200ms ease-in-out;
}

.cover:hover:before {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover {
        min-height: calc(100vw / 1.6);
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        width: 100%;
        max-height: 640px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        max-height: 480px;
    }
}